{
	"ecmaFeatures": {
	},

	"rules": {
		// Possible Errors - http://eslint.org/docs/rules/#possible-errors
		"use-isnan": [2],
		"no-empty": [1],
		"no-dupe-args": [2],
		"no-dupe-keys": [2],
		"no-duplicate-case": [2],
		"no-inner-declarations": [2],
		"no-ex-assign": [2],
		"no-func-assign": [2],
		"no-extra-parens": [1],
		"no-negated-in-lhs": [1],
		"no-obj-calls": [2],
		"no-unexpected-multiline": [2],
		"no-unreachable": [2],
		"valid-typeof": [2],
		"no-empty-character-class": [1],
		"no-invalid-regexp": [2],
		"no-irregular-whitespace": [2],
		"valid-jsdoc": [1, {
			"requireParamDescription": false,
			"requireReturnDescription": false,
			"requireReturn": false
		}],

		// Best Practicess - http://eslint.org/docs/rules/#best-practices
		"accessor-pairs": [1, {"getWithoutSet": true}],
		"block-scoped-var": [1],
		"consistent-return": [2],
		"curly": [1],
		"default-case": [1],
		"dot-location": [1],
		"dot-notation": [1, {"allowKeywords": true}],
		"eqeqeq": [1],
		"guard-for-in": [1],
		"no-alert": [1],
		"no-caller": [1],
		"no-case-declarations": [1],
		"no-div-regex": [1],
		"no-implicit-coercion": [1, {"boolean": true, "number": true, "string": true}],
		"no-invalid-this": [1],		// undecided
		"no-else-return": [1],
		"no-empty-pattern": [1],
		"no-eq-null": [1],
		"no-eval": [1],
		"no-extend-native": [1],
		"no-extra-bind": [1],
		"no-fallthrough": [1],
		"no-floating-decimal": [1],
		"no-implied-eval": [1],
		"no-iterator": [2],
		"no-labels": [1],
		"no-lone-blocks": [1],
		"no-loop-func": [1],
		"no-magic-numbers": [0],
		"no-multi-spaces": [1],
		"no-multi-str": [1],
		"no-native-reassign": [1],
		"no-new": [1],
		"no-new-func": [1],
		"no-new-wrappers": [1],
		"no-octal": [1],
		"no-octal-escape": [1],
		"no-param-reassign": [0, {"props": false}],
		"no-process-env": [1],
		"no-proto": [1],
		"no-redeclare": [1, {"builtinGlobals": true}],
		"no-return-assign": [1, "always"],
		"no-script-url": [1],
		"no-self-compare": [2],
		"no-sequences": [1],
		"no-throw-literal": [0],		// undecided
		"no-unused-expressions": [1],
		"no-useless-call": [1],
		"no-useless-concat": [1],
		"no-void": [1],
		"no-warning-comments": [1, {"terms": ["todo"], "location": "start"}],
		"no-with": [1],
		"radix": [1, "always"],
		"vars-on-top": [1],
		"wrap-iife": [1, "outside"],
		"yoda": [1, "never"],

		// Strict Mode - http://eslint.org/docs/rules/#strict-mode
		"strict": [2, "function"],

		// Variables - http://eslint.org/docs/rules/#variables
		"no-delete-var": [2],
		"no-label-var": [2],
		"no-shadow-restricted-names": [2],
		"no-use-before-define": [1, "nofunc"],
		"no-undefined": [0],
		"no-undef": [2],
		"no-undef-init": [1],
		"no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
		"no-shadow": [1, {"builtinGlobals": false, "hoist": "all"}],

		// Stylistic issues - http://eslint.org/docs/rules/#stylistic-issues
		"array-bracket-spacing": [1, "never", {"singleValue": false, "objectsInArrays": false, "arraysInArrays": false}],
		"block-spacing": [1, "always"],
		"brace-style": [1, "1tbs", {"allowSingleLine": true}],
		"camelcase": [1, {"properties": "always"}],
		"comma-spacing": [1, {"before": false, "after": true}],
		"comma-style": [2, "last"],
		"computed-property-spacing": [1, "never"],
		"consistent-this": [1, "self"],		// or 'that' maybe?
		"eol-last": [0],
		"indent": [2, "tab", {"SwitchCase": 0, "VariableDeclarator": 1}],
		"jsx-quotes": [1, "prefer-double"],
		"key-spacing": [1, {"beforeColon": false, "afterColon": true}],
		"max-depth": [1, 16],
		"max-nested-callbacks": [1, 16],
		"max-params": [1, 7],
		"max-statements": [0, 200],
		"new-cap": [1, {"newIsCap": true, "capIsNew": true}],
		"newline-after-var": [1, "always"],
		"new-parens": [1],
		"no-bitwise": [1],
		"no-continue": [1],
		"no-array-constructor": [1],
		"no-lonely-if": [1],
		"no-mixed-spaces-and-tabs": [1],
		"no-multiple-empty-lines": [1, {"max": 2, "maxEOF": 1}],
		"no-nested-ternary": [1],
		"no-new-object": [1],
		"no-plusplus": [0, {"allowForLoopAfterthoughts": true}],
		"no-spaced-func": [1],
		"no-restricted-syntax": [1, "WithStatement"],
		"no-trailing-spaces": [1, {"skipBlankLines": true}],
		"no-underscore-dangle": [1, { "allow": [] }],
		"no-unneeded-ternary": [1, {"defaultAssignment": true}],
		"object-curly-spacing": [1, "never", {"objectsInObjects": false, "arraysInObjects": false}],
		"one-var": [1, {"var": "always", "let": "always", "const": "never" }],
		"operator-linebreak": [1, "after"],
		"quotes": [1, "double", "avoid-escape"],
		"quote-props": [1, "consistent-as-needed", {"keywords": true}],
		"require-jsdoc": [1, {"require": {"FunctionDeclaration": true, "MethodDefinition": false, "ClassDeclaration": false}}],
		"semi": [1],
		"semi-spacing": [1, {"before": false, "after": true}],
		"keyword-spacing": [1, {"before": true, "after": true}],
		"space-before-function-paren": [1, {"anonymous": "always", "named": "never"}],
		"space-in-parens": [1, "never"],
		"space-infix-ops": [1, {"int32Hint": false}],
		"space-unary-ops": [1, {"words": true, "nonwords": false}]
	},

	"env": {
		"browser": true,
		"qunit": true
	},

	"globals": {
		"S": true,
		"widget": true
	}
}